{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title">Box number {{ post.title }} </h5>
                <form method="POST" id="formupdate">
                    {% csrf_token %}
                    <div class="form-group">
                        <label >Box ID</label>
                        <input  type="number" class="form-control" name="title" value="{{ post.title }}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Current tags</label>
                        <input type="text" data-role="tagsinput" class="form-control" name="tags" id="tagsinput" value="
                                     {% for tag in post.tags.all %}
                                     {{ tag }} ,
                                     {% endfor %}">
                    </div>
                    <p/>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <p class="card-text">Add / Remove tags:</p>
                    {% for mt in common_tags %}
                        <div class="badge badge-success" hx-on:click="replaceInsert('{{ mt }}')">{{ mt }}</div>
                    {% endfor %}
                </p>
                </form>
            </div>
        </div>

        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title">Image upload</h5>
	            <input id="fileInputElement" name="uploaded_file" class="btn btn-primary" type="file"  accept="image/*" capture="environment" multiple />
	            <div id="fileProgress"></div>
                <div class="progress">
                    <div id="pb" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>


    {% csrf_token %}
	    <script type="text/javascript">
         const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

         console.log("CSRF: " + csrftoken);
		 var uploader = new ImageUploader({
             inputElement : document.getElementById('fileInputElement'),
             requestHeaders: {"X-CSRFToken":  csrftoken, "test-header":"test"},
             uploadUrl : '/rawupload/{{ post.title }}',
             onProgress : function(event) {
                 $('#progress').text('Completed '+event.done+' files of '+event.total+' total.');
                 $( "#pb" ).css({"width": ((event.done / event.total)*100) + "%"})
             },
             onFileComplete : function(event, file) {
            	 $('#fileProgress').append('Finished file '+file.fileName+' with response from server '+event.target.status+'<br />');
             },
             onComplete : function(event) {
                 $('#progress').text('Completed all '+event.done+' files!');
                 //$('#progressbar').progressbar({ value: (event.done / event.total) * 100 })
             },
             maxWidth: 1024,
	         maxUpload: 10048576   ,  // this specifies a limit for the size of the base-64 upload to the server
	         quality: 0.90,
             debug : false
         });
        </script>
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title">Box content</h5>
                <section id="gallery" class="row no-gutters">
                    {% for image in images %}
                        <a class="col-12 col-sm-6 col-lg-3" href="/images/{{ image.image}}">
                            <img src="/images/{{image.image}}" class="w-100">
                        </a>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
