{% extends 'base.html' %}

{% block content %}
        <div class="container pt-5">
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title">Tag <b>{{ tag }}</b> </h5>
                    <p class="card-text">
                        {% for mt in tags %}
	                        <a href="/tag/{{ mt.tag | slugify }}" class="badge badge-success">{{ mt.tag }}</a>
                        {% endfor %}
                </p>
            </div>
        </div>
            <p>QRunched boxes</p>
            <div class="row mb-2 posts">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in post.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto text-muted">{{ post.published }}</p>
                    <section id="gallery" class="row no-gutters">
                        {% for image in  post.postimage_set.all %}
                            <a class="col-12 col-sm-6 col-lg-3" href="/images/{{ image.image}}">
                                <img loading="lazy" src="/images/{{image.image}}" class="w-100">
                            </a>
                        {% endfor %}
                    </section>
                                </div>
                            </div>
                        </div>       
                    </div>
                    {% endfor %}
            </div>
        </div>
{% endblock content %}
